/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap);
@import url(https://fonts.googleapis.com/css?family=Gudea:400,700);
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

@media only screen and (min-width: 760px) {
  header {
    background: #50505A;
    height: 10vh;
    text-align: center;
    border-bottom: 2px solid #B4B4BE;
  }
  header h1 {
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    padding-top: 2vh;
    color: #B4B4BE;
  }
  .link {
    text-decoration: none;
    color: black;
    padding: 5px 15px 5px 15px;
    border-right: 1px solid #B4B4BE;
    border-left: 1px solid #B4B4BE;
    font-size: 25px;
  }
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 3px solid #B4B4BE;
    font-family: 'Roboto', sans-serif;
    background: #50505A;
  }
  .nav h1 {
    color: #B4B4BE;
  }
  .login1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 86vh;
    background: #f2f4f8;
  }
  .login1 .tabs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 15rem;
  }
  .login1 .tabButtonA {
    width: 8.5rem;
    height: 3rem;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.125rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background: #306191;
    color: #fafafa;
    outline: 1px dashed transparent;
    -webkit-transition: all .8s ease;
    transition: all .8s ease;
  }
  .login1 .tabButtonI {
    width: 8.5rem;
    height: 3rem;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.125rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background: #919aa3;
    color: #fafafa;
    outline: 1px dashed transparent;
    cursor: pointer;
  }
  .login1 .authBox {
    background: white;
    margin-top: 15vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.125);
  }
  .login1 .authBox .inputBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 1rem;
  }
  .login1 .authBox .inputBox .inputs {
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.125rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 1rem;
    height: 2.25rem;
    line-height: 1.25rem;
    margin-top: 1rem;
    padding: 0.25rem 0.5rem;
    width: 15rem;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
  }
  .login1 .authBox .inputBox .inputNo {
    display: none;
  }
  .login1 .authBox button {
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.125rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    line-height: 1.25rem;
    width: 15rem;
    height: 2.25rem;
    background: #306191;
    color: #fafafa;
    font-size: 0.75rem;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    padding: 0.25rem 0.5rem;
    outline: 1px dashed transparent;
    outline-offset: 2px;
    padding-left: 0;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
  }
  .login1 .authBox button:hover {
    background: #29527b;
  }
  .login1 .authBox button:active {
    background: #3770a7;
    -webkit-transition: all 0.125s;
    transition: all 0.125s;
  }
  .login1 .authBox .aF {
    margin-bottom: 1.5rem;
    text-decoration: none;
    color: #306191;
  }
  .login1 .authBox .aT {
    display: none;
  }
  .login2 {
    background: #59ABE3;
    height: 86vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .login2 .inputBox {
    width: 340px;
    height: 320px;
    background: #e6e6e6;
    border-radius: 8px;
    -webkit-box-shadow: 0 0 40px -10px #000;
            box-shadow: 0 0 40px -10px #000;
    margin-top: 20vh;
    padding: 20px 30px;
    max-width: calc(100vw - 40px);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: 'Montserrat',sans-serif;
    position: relative;
  }
  .login2 .inputBox .tabs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .login2 .inputBox .tabButtonA {
    margin: 10px;
    padding-bottom: 10px;
    width: 130px;
    color: #78788c;
    border-bottom: 3px solid #78788c;
    border-right: 3px solid #78788c;
    font-size: 20px;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
  }
  .login2 .inputBox .tabButtonI {
    margin: 10px;
    padding-bottom: 10px;
    width: 130px;
    color: #b4b4be;
    border-bottom: 3px solid #b4b4be;
    border-right: 3px solid #b4b4be;
    font-size: 20px;
    cursor: pointer;
  }
  .login2 .inputBox .inputs {
    width: 100%;
    padding: 10px;
    margin-top: 1.5rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background: none;
    outline: none;
    resize: none;
    border: 0;
    font-family: 'Montserrat',sans-serif;
    -webkit-transition: all .3s;
    transition: all .3s;
    border-bottom: 2px solid #bebed2;
  }
  .login2 .inputBox .inputs:focus {
    border-bottom: 2px solid #78788c;
  }
  .login2 .inputBox .inputNo {
    display: none;
  }
  .login2 button {
    width: 75%;
    padding: 8px 12px;
    margin: 8px 0 0 12.5%;
    font-family: 'Montserrat',sans-serif;
    border: none;
    outline: 1px dashed transparent;
    background: #50505a;
    border-radius: 6px;
    padding: 10px 0 10px 0;
    cursor: pointer;
    -webkit-transition: all .3s;
    transition: all .3s;
    font-size: 19px;
    color: #59ABE3;
    position: absolute;
    bottom: -15px;
    right: -20px;
    -webkit-box-shadow: 10px 10px 40px -14px #000;
            box-shadow: 10px 10px 40px -14px #000;
  }
  .login2 button:hover {
    background: #78788c;
    color: #fff;
  }
  .login2 button:active {
    border: 1px solid white;
  }
  .login2 span {
    margin: 0 5px 0 15px;
  }
  .login3 {
    background-color: #eee;
    font-family: Verdana;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 86vh;
  }
  .login3 .inputBox {
    width: 400px;
    height: 240px;
    background: white;
    margin-top: 250px;
    border-radius: 2px;
    -webkit-box-shadow: 0px 3px 3px silver;
            box-shadow: 0px 3px 3px silver;
    padding: 25px;
  }
  .login3 .inputBox .tabs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .login3 .inputBox .tabButtonA {
    margin: 0 86px 20px 0;
    font-weight: normal;
    color: #03a9f4;
    border-bottom: 3px solid #03a9f4;
    padding-bottom: 10px;
    font-size: 30px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
  }
  .login3 .inputBox .tabButtonI {
    margin: 0 86px 20px 0;
    font-weight: normal;
    color: #a2aaad;
    border-bottom: 3px solid #a2aaad;
    font-size: 30px;
    cursor: pointer;
  }
  .login3 .inputBox .labelA {
    float: left;
    padding: 10px 10px 14px 0;
    width: 175px;
    margin-top: 10px;
    clear: left;
  }
  .login3 .inputBox .labelI {
    display: none;
  }
  .login3 .inputBox .inputs {
    float: right;
    border: 2px solid silver;
    padding: 8px 0;
    border-width: 0 0 2px 0;
    width: 200px;
    margin-top: 15px;
    -webkit-transition: border-color .3s;
    transition: border-color .3s;
  }
  .login3 .inputBox .inputs:focus, .login3 .inputBox .inputs:hover {
    border-color: #03a9f4;
    outline: 0;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transition: -webkit-transform .15s ease;
    transition: -webkit-transform .15s ease;
    transition: transform .15s ease;
    transition: transform .15s ease, -webkit-transform .15s ease;
  }
  .login3 .inputBox .inputNo {
    display: none;
  }
  .login3 .inputBox button {
    border: 0;
    background-color: white;
    color: #03a9f4;
    text-transform: uppercase;
    width: auto;
    cursor: pointer;
    margin-top: 1.5rem;
    float: right;
    outline: 1px dashed transparent;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  .login3 .inputBox button:active {
    -webkit-transform: translate(3px, 3px);
            transform: translate(3px, 3px);
    -webkit-transition: -webkit-transform .15s ease;
    transition: -webkit-transform .15s ease;
    transition: transform .15s ease;
    transition: transform .15s ease, -webkit-transform .15s ease;
  }
  .login4 {
    -webkit-perspective: 800px;
            perspective: 800px;
    height: 86.2vh;
    margin: 0;
    overflow: hidden;
    font-family: 'Gudea', sans-serif;
    background: #DC6180;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .login4 .authBox {
    height: 300px;
    width: 240px;
    background: #242734;
    padding: 100px 40px 40px 40px;
    margin-top: 10%;
    -webkit-box-shadow: 3px 3px 15px  black;
            box-shadow: 3px 3px 15px  black;
  }
  .login4 .authBox .tabs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .login4 .authBox .tabButtonA {
    color: #DC6180;
    height: 60px;
    text-align: left;
    font-size: 16px;
    margin-right: 25px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .login4 .authBox .tabButtonI {
    color: #a09494;
    height: 60px;
    text-align: left;
    font-size: 16px;
    margin-right: 25px;
    cursor: pointer;
  }
  .login4 .authBox .inputs {
    height: 20px;
    width: 100%;
    color: white;
    background: #242734;
    border-top: none;
    border-bottom: 1px solid #DC6180;
    border-right: none;
    border-left: none;
    margin-bottom: 2rem;
  }
  .login4 .authBox .inputNo {
    display: none;
  }
  .login4 .authBox input:focus {
    outline: none;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transition: -webkit-transform .15s ease;
    transition: -webkit-transform .15s ease;
    transition: transform .15s ease;
    transition: transform .15s ease, -webkit-transform .15s ease;
  }
  .login4 .authBox input::-webkit-input-placeholder {
    color: #706670;
  }
  .login4 .authBox input:-ms-input-placeholder {
    color: #706670;
  }
  .login4 .authBox input::-ms-input-placeholder {
    color: #706670;
  }
  .login4 .authBox input::placeholder {
    color: #706670;
  }
  .login4 .authBox button {
    margin-top: 2rem;
    width: 150px;
    height: 40px;
    border-radius: 50px;
    background: none;
    border: 2px solid #DC6180;
    color: #DC6180;
    outline: 1px dashed transparent;
  }
  .login4 .authBox button:active {
    border: 3px solid #ff92c0;
  }
  .login5 {
    background: linear-gradient(135deg, rgba(36, 46, 77, 0.9), rgba(137, 126, 121, 0.9));
    height: 86.2vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: -2;
  }
  .login5 .tabs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .login5 .tabButtonA {
    border: none;
    width: 185px;
    height: 50px;
    outline: 1px dashed transparent;
    font-size: 16px;
    position: absolute;
    top: 40vh;
  }
  .login5 .tabButtonI {
    border: none;
    width: 185px;
    height: 50px;
    background: -webkit-gradient(linear, left top, right top, from(#35c3c1), to(#00d6b7));
    background: linear-gradient(to right, #35c3c1, #00d6b7);
    -webkit-box-shadow: 3px 3px 15px black;
            box-shadow: 3px 3px 15px black;
    color: #f5f6f8;
    z-index: 1;
    color: #f5f6f8;
    outline: 1px dashed transparent;
    border-top: 5px solid #8f8f8f;
    font-size: 16px;
    cursor: pointer;
    position: absolute;
    top: 34vh;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
  }
  .login5 .authBox {
    width: 20vw;
    height: 25vh;
    margin-top: 25vh;
    background: #626066;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 2%;
    border-top: 3px solid #00d6b7;
    -webkit-box-shadow: 3px 3px 15px black;
            box-shadow: 3px 3px 15px black;
    z-index: 2;
  }
  .login5 .authBox .inputs {
    height: 50px;
    margin-bottom: 1.5rem;
    font-size: 1rem;
  }
  .login5 .authBox .inputNo {
    display: none;
  }
  .login5 .authBox input:focus {
    outline: none;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transition: -webkit-transform .15s ease;
    transition: -webkit-transform .15s ease;
    transition: transform .15s ease;
    transition: transform .15s ease, -webkit-transform .15s ease;
    background: #f5f6f8;
  }
  .login5 .authBox button {
    background: -webkit-gradient(linear, left top, right top, from(#35c3c1), to(#00d6b7));
    background: linear-gradient(to right, #35c3c1, #00d6b7);
    height: 50px;
    margin-top: 1.5rem;
    border: none;
    font-size: 2rem;
    color: #f5f6f8;
    outline: 1px dashed transparent;
  }
  .login5 .authBox button:active {
    -webkit-transform: translate(-3px, 3px);
            transform: translate(-3px, 3px);
  }
  .login6 {
    font-family: 'Open Sans', sans-serif;
    background: #C8C8C8;
    height: 86.2vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .login6 .authBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    margin: auto;
    max-width: 350px;
    min-height: 600px;
    position: relative;
    -webkit-box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
            box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    margin-top: 100px;
    background: rgba(40, 57, 101, 0.9);
    padding: 0 2% 0 2%;
    border-radius: 10px;
  }
  .login6 .authBox input {
    margin-bottom: 15px;
    background: #757B94;
    border: none;
    border-radius: 50px;
    height: 35px;
    outline: 1px dashed transparent;
  }
  .login6 .authBox input:focus, .login6 .authBox :hover {
    border-bottom: 2px solid #1059FF;
  }
  .login6 .authBox label {
    font-size: 14px;
    font-weight: 400;
    color: #e0dddd;
    padding: 10px;
    border: none;
  }
  .login6 .authBox label:hover {
    border: none;
  }
  .login6 .authBox button {
    border-radius: 50px;
    height: 35px;
    background: #2E61ED;
    border: none;
    outline: 1px dashed transparent;
    margin-top: 2rem;
    color: #e0dddd;
    font-size: 18px;
    font-weight: 400;
  }
  .login6 .authBox button:hover {
    border: none;
  }
  .login6 .authBox button:active {
    -webkit-transform: translate(-3px, 3px);
            transform: translate(-3px, 3px);
  }
  .login6 .authBox .toggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: none;
  }
  .login6 .authBox .toggle h1 {
    font-size: 20px;
    font-weight: 400;
    margin: 80px 40px 50px 0;
    padding-bottom: 10px;
    color: #e0dddd;
    border-bottom: 2px solid #1059FF;
  }
  .login6 .authBox .toggle .inactive {
    color: #a8a6a6;
    border: none;
  }
  .login6 .authBox a {
    height: 100px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 24px;
    margin-top: 35px;
    border-top: solid 1px rgba(255, 255, 255, 0.3);
    color: rgba(255, 255, 255, 0.3);
    font-weight: 400;
    font-size: 13px;
    text-decoration: none;
  }
  .login6 .authBox a:hover {
    border-bottom: none;
  }
  .login7 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: #F3F3F3;
    height: 86.2vh;
  }
  .login7 .authBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 150px;
    width: 25rem;
    height: 20rem;
    padding: 5rem;
  }
  .login7 .authBox input {
    background: #E2E5E5;
    border: none;
    border-radius: 5px;
    margin-bottom: 1rem;
    height: 3rem;
    outline: 1px dashed transparent;
  }
  .login7 .authBox input::-webkit-input-placeholder {
    color: #919FAF;
  }
  .login7 .authBox input:-ms-input-placeholder {
    color: #919FAF;
  }
  .login7 .authBox input::-ms-input-placeholder {
    color: #919FAF;
  }
  .login7 .authBox input::placeholder {
    color: #919FAF;
  }
  .login7 .authBox input:focus {
    border-bottom: 2px solid #2CB0C5;
  }
  .login7 .authBox button {
    background: #2CB0C5;
    border-radius: 5px;
    height: 2.5rem;
    width: 30%;
    margin-top: .5rem;
    border: none;
    color: #fff;
    outline: 1px dashed transparent;
  }
  .login7 .authBox button:active {
    -webkit-transform: translate(-3px, 3px);
            transform: translate(-3px, 3px);
    border: none;
  }
  .login8 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: #5356AD;
    height: 86.2vh;
  }
  .login8 .lowerBox {
    width: 35rem;
    height: 20rem;
    background: #999EDE;
    margin: 290px 20px 0 0;
    -webkit-box-shadow: 1px 1px 5px black;
            box-shadow: 1px 1px 5px black;
  }
  .login8 .triangle {
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-left: 200px solid #a5aae4;
    border-bottom: 150px solid transparent;
    position: absolute;
    top: 30rem;
    right: 48rem;
  }
  .login8 .authBox {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 250px 200px 0 0;
    background: #fff;
    height: 20rem;
    width: 15rem;
    padding: 2%;
    -webkit-box-shadow: 1px 1px 5px black;
            box-shadow: 1px 1px 5px black;
  }
  .login8 .authBox input {
    height: 30px;
    margin-bottom: 1rem;
    padding-left: 6%;
    outline: 1px dashed transparent;
    border: 1px solid #5356AD;
  }
  .login8 .authBox input:focus {
    border-bottom: 1px solid #FB72B2;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  .login8 .authBox button {
    height: 40px;
    width: 25%;
    background: #FB72B2;
    border: none;
    color: #fff;
    font-size: 16px;
    padding: 10px;
    outline: 1px dashed transparent;
  }
  .login8 .authBox button:active {
    -webkit-transform: translate(-3px, 3px);
            transform: translate(-3px, 3px);
  }
}
/*# sourceMappingURL=styles.css.map */